.search_drawer{
    height: 100vh;
    overflow: hidden;
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: white;
    .header{
        background-color: #eceff1;
        height: 45px;
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        input{
            width: 100%;
            background-color: transparent;
            outline: none;
        }
        button{
            border: none;
            outline: none;
            color: #767677;
        }
    }
    .body{
        padding: 16px;
    }
}

