@keyframes show {

    0%{
        opacity: 0;
        transform: translateY(2rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes hide {
    0%{
        opacity: 1;
        transform: translateY(0rem);
    }
    100%{
        opacity: 0;
        transform: translateY(2rem);
    }
}



.modal{ 
    // modal mask style start
    overflow: hidden;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    
   /*  &.active{
        opacity: 1;
        visibility: visible;
    }
    &.hide{
        opacity: 0;
        visibility: hidden;
    } */
    // animation: hide 0.2s linear;
        
        /* &.active{
        }
        &.hide{
            animation: hide 0.2s linear;
        } */

        // from style start
        .form_container{
            form{
                max-height: 570px !important;
                max-width: 400px;
                background-color: white;
                position: absolute;
                transform: translate(-50%,-50%);
                top: 50%;
                left: 50%;
                border-radius: 10px;
                backdrop-filter: blur(10px);
                border: 1px solid rgba(255,255,255,0.1);
                padding: 50px 35px;
                letter-spacing: 0.5px;
                outline: none;
                border: none;
                .close_menu{   
                    position: absolute;
                    width: 100%;
                    display: flex;
                    top: 0;
                    right: 0px;
                    align-items: flex-end;
                    justify-content: flex-end;
                    padding: 5px 5px 5px 0;
                    color: black;
                    .icon{
                        cursor: pointer;
                        border: 1px solid black;
                        border-radius: 50%;
                        padding: 4px;
                    }
                }
                h3{
                    font-size: 28px;
                    font-weight: 500;
                    line-height: 42px;
                    text-align: center;
                    color: black;
                }
                label{
                    display: block;
                    margin-top: 25px;
                    font-size: 16px;
                    color: black;
                    font-weight: 500;
                }
                input{
                    display: block;
                    height: 42px;
                    width: 100%;
                    background-color: #eee;
                    border-radius: 3px;
                    padding: 0 10px;
                    margin-top: 7px;
                    font-size: 14px;
                    font-weight: 300;
                    border: 1px solid transparent;
                    outline: none;
                    &:focus{
                        border: 1px solid white;
                    }
                }
                ::placeholder{
                    color: black !important;
                }
                button{
                    margin-top: 25px;
                    width: 100%;
                    background-color: #eee;
                    color: black;
                    height: 42px;
                    font-size: 18px;
                    font-weight: 600;
                    border-radius: 5px;
                    cursor: pointer;
                    &:hover{
                        background-color: #dddd;
                    }
                }
                .social{
                    margin-top: 15px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10px;
                    .go, .fa{
                        width: 150px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        border-radius: 5px;
                        height: 42px;
                        background-color: #eee;
                        transition: all 0.3 linear;
                        cursor: pointer;
                        &:hover{
                            background-color: #dddd;
                        }
                    }
                }
                .switch{
                    width: 100%;
                    font-size: 12px;
                    text-align: right;
                    color: black
                    span{
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
        
}

@media screen and (max-width : 400px) {
    .modal{
            .form_container{

                // it's style for form section
                form{
                    max-height: 600px !important;
                    max-width: 300px !important;
                    .social{
                        flex-direction: column;
                        .go, .fa{
                            width: 250px;
                        }
                    }
                }
        }
    }
}