.navbar{
    
    border-bottom: 1px solid #ddd;
    position: relative;

    // navbar container
    .navbar-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1280px;
		padding: 14px 25px;
        margin: 0 auto;

        // initially mobile menu icon disappear
        .mobile-menu{
            display: none;
        }

        // web site logo
        .brand-logo{
            width: 50px;
        }

		// middle content of navbar 
        .main-content{
            ul{
				li{
					display: inline-block;
					margin-right: 15px;
					font-size: 14px;
					cursor: pointer;
					&:first-child, &:nth-child(2), &:nth-child(3){
						font-weight: 600;
					}
					.mega-menu{
						display: none;
						width: 100%;
						background-color: white;
						box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
						color: black;
						position: absolute;
						top: 61px;
						left: 0;
						z-index: 100;
						.mega-menu-container{
							max-width: 1280px;
							margin: 0 auto;
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							.fixed-name{
								padding: 32px 0 32px 25px;
								width: 20%;
								border-right: 1px solid #ddd;
								ul{
									h1{
										padding-bottom: 10px;
										text-transform: uppercase !important;
									}
									li{
										display: block;
										padding-bottom: 8px;
										margin-right: 0 !important;
										font-weight: 400;
									}
								}
							}
							.dynamic-category{
								padding: 32px 25px;
								width: 80%;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								ul{
									h1{
										padding-bottom: 10px !important;
									}
									li{
										display: block;
										padding-bottom: 8px;
										margin-right: 0 !important;
										font-weight: 400;
									}
								}
							}
						}
						.mega-menu-footer{
							border-top: 1px solid #ddd;
							border-bottom: 1px solid #ddd;
							.mega-menu-footer-container{
								max-width: 1280px;
								margin: 0 auto;
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								.sale{
									padding: 12px  25px;
									width: 20%;
									border-right: 1px solid #ddd;
								}
								ul{
									padding: 12px 25px;
									width: 80%;
									display: flex;
									flex-direction: row;
									justify-content: space-between;
									li{
										text-transform: uppercase;
										font-size: 13px;
									}
								}
							}
						}
					}
					&:hover  .mega-menu{
						display: block;
					}
				}
				
			}
        }
        .right-content{
            display: flex;
            align-items: center;
            gap: 20px;
            .desktop-input{
                background-color: #eceff1;
                display: flex;
                align-items: center;
                padding: 4px 12px;
                border-radius: 4px;
                input{
                    background-color: transparent;
                    border: none;
                    outline: none;
                    font-size: 14px;
                }
            }
            .mobile-input{
                cursor: pointer;
                display: none;
            }
            .cart{
                position: relative;
                .cart-count{
                    background-color: #0071ae;
                    position: absolute;
                    top: -12px;
                    right: -12px ;
                    color: white;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    font-size: 14px;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                }
            }
        }
    }
}


// mobile input container is disable within 1024px  and mobile input is showing
@media screen and (max-width : 1024px) {
    .navbar{
        .navbar-container{
            .right-content{
                .desktop-input{
                    display: none;
                }
                .mobile-input{
                    display: block;
                }
            }
        }
    }
}

// mobile menu and main content ares display:none after 800px 
@media screen and (max-width : 800px) {
    .navbar{
        .navbar-container{
            .mobile-menu{
                display: block;
            }
            .main-content{
                display: none;
            }
        }
    }
}